data/raw/sentinel/*
data/raw/planetscope/*
data/raw/eschikon/*
# data/interim/sentinel/*
# data/interim/planetscope/*

data/preprocessed/sentinel/*
data/preprocessed/planetscope/*

.env
*.pyc
*__pycache__