data/raw/sentinel/*
data/raw/planetscope/*
data/raw/eschikon/*

data/processed/sentinel/*
data/processed/planetscope/*

data/raw_filtered/sentinel/*
data/raw_filtered/planetscope/*

.env
*.pyc
*__pycache__