eodal==0.2.0
geopandas==0.12.2
matplotlib==3.7.1
matplotlib-scalebar==0.8.1
numpy==1.23.5
opencv-contrib-python==4.7.0.72
pandas==2.0.1
planetary-computer==0.5.1
py7zr==0.20.5
pyproj==3.5.0
pystac==1.7.3
python-dotenv==0.19.2
pytorch-lightning==1.9.5
PyYAML==6.0
scikit-learn==1.2.2
shapely==2.0.1
torch==2.0.1
torchmetrics==0.7.2
torchvision==0.15.2
wget==3.2