random_seed: 123

experiment_name: EDSR

sentinel_resolution: "20m"
planetscope_bands: "4b"

train: false
predict: True

model:
  name: edsr
  channels: 256
  blocks: 32

datamodule:
  batch_size: 2
  augment: True

trainer:
  max_epochs: 20
  profiler: "simple"
  log_every_n_steps: 100

optimizer:
  lr: 0.0002
  scheduler_step: 5