random_seed: 123

experiment_name: ESRGAN

sentinel_resolution: "20m"
planetscope_bands: "4b"

train: false
predict: True

model:
  name: esrgan
  channels: 64 # 64
  feature_maps_disc: 64 # 64
  upscaling_channels: 3
  blocks: 16 # 16

datamodule:
  batch_size: 2
  augment: True

trainer:
  max_epochs: 20        
  profiler: "simple"
  log_every_n_steps: 100

optimizer:
  lr: 0.0002
  scheduler_step: 5

scheduler:
  mode: min
