random_seed: 123

experiment_name: SRCNN

sentinel_resolution: "20m"
planetscope_bands: "4b"

train: False
predict: True

model:
  name: srcnn
  batch_size: 16
  channels: 256

datamodule:
  batch_size: 2
  augment: True

trainer:
  max_epochs: 20
  profiler: "simple"
  log_every_n_steps: 100

optimizer:
  lr: 0.001
  scheduler_step: 5

scheduler:
  mode: min
  patience: 5
  min_lr: 0.0000001
  verbose: True