random_seed: 123

experiment_name: SRGAN

# resume_from_checkpoint: ...

sentinel_resolution: "20m"
planetscope_bands: "4b"

train: True
predict: True

model:
  name: srgan
  feature_maps_gen: 128 # 64
  feature_maps_disc: 64 # 64
  num_res_blocks: 16 # 16

datamodule:
  batch_size: 16
  augment: False

trainer:
  max_epochs: 50
  profiler: "simple"
  log_every_n_steps: 5

optimizer:
  lr: 0.0001
  scheduler_step: 10

scheduler:
  mode: min
