random_seed: 123

experiment_name: SRResNet_baseline

sentinel_resolution: "20m"
planetscope_bands: "hist_20m_4b"

train: true
predict: true

model:
  name: srresnet
  batch_size: 16
  channels: 64
  blocks: 24

datamodule:
  batch_size: 16

trainer:
  max_epochs: 250
  profiler: "simple"
  log_every_n_steps: 5

optimizer:
  lr: 0.001
  scheduler_step: 10

scheduler:
  mode: min
